body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
  background-color: #f4f5f7;
  color: #172b4d;
}

h1 {
  color: #172b4d;
  font-size: 32px;
  margin: 0; /* Removed the margin-bottom */
}

.welcome-message {
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.header {
  background-color: transparent; /* Updated the background color to transparent */
  padding: 20px;
  transition: border-color 0.3s;
}

.header:hover {
  border-color: #0056b3;
}

.separator {
  width: 90%;
  border: none;
  border-top: 2px solid #e0e0e0;
  margin: 10px 0; /* Adjusted the margin */
}

.navigation-options {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.navigation-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 18px;
  background-color: transparent;
  color: #0052cc;
  text-decoration: none;
  border: 2px solid #0052cc;
  border-radius: 8px;
  width: 200px;
  transition: background-color 0.3s;
}

.navigation-link:hover {
  background-color: #0052cc;
  color: #ffffff;
}

@media (max-width: 600px) {
  body {
    padding: 10px; /* Reduce padding for smaller screens */
  }

  h1 {
    font-size: 24px; /* Decrease the font size for smaller screens */
  }

  .navigation-options {
    flex-direction: column; /* Stack navigation links vertically */
    margin-top: 10px; /* Reduce the margin-top for smaller screens */
  }

  .navigation-link {
    width: 90%; /* Expand the links to the full width of the container */
    margin: 5px 0; /* Add some vertical spacing between links */
  }
}
